<!DOCTYPE html>
<html lang="en">
<head th:replace="layout::head"></head>
<body>
<!-- Top Header Start -->
<div class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4">
                <div class="logo">
                    <a href="">
                        <img src="../../../../../../../img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->

<!-- Header Start navbar-->
<div class="header">
    <div class="container">
        <nav th:replace="layout::nav"></nav>
    </div>
</div>
<!-- Header End navbar end-->

<div th:replace="feed::drop-nav"></div>
<div th:replace="feed::feed"></div>


<footer th:replace="layout::footer"></footer>

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../../../../../../../lib/easing/easing.min.js"></script>
<script src="../../../../../../../lib/slick/slick.min.js"></script>


<!-- Template Javascript -->
<script src="../../../../../../../js/main.js"></script>
</body>
</html>
